In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pandas_profiling import ProfileReport

%matplotlib inline

In [ ]:
df=pd.read_csv('/content/car_data[1].csv')
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,1
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,1
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,1
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,1
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,1
...,...,...,...,...,...,...,...,...,...
970,creta,2015,11.25,13.60,68000,Diesel,Dealer,Manual,1
971,verna,2013,4.80,9.40,60241,Petrol,Dealer,Manual,1
972,eon,2012,2.00,4.43,23709,Petrol,Dealer,Manual,1
973,verna,2012,5.35,9.40,32322,Diesel,Dealer,Manual,1
974,xcent,2015,4.75,7.13,35866,Petrol,Dealer,Manual,1